<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Powerfulmind</title>
        <link rel="icon" type="image/x-icon" href="../images/POWER_LOGO.png">

        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"> -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">


        
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
     
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script src="../js/main.js"></script>

        <link rel="stylesheet" href="../css/estilos.css">   
        <link rel="stylesheet" href="../css/usuario.css">
        <link rel="stylesheet" href="../css/styles.css">



    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-success">
            <!-- Navbar Brand-->
            <a class="navbar-brand text-white ps-3 titulo" href="./home">POWERFULMIND</a>
            <!-- Sidebar Toggle-->

            <button class="d-lg-none btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="./perfil"><i class="fas fa-bars"></i></button>
            <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <h4 class="text-white d-none d-lg-block">Perfil</h4>
               
            </div>
             <!-- Navbar-->
            
             <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="./password">Contraseña</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="./home">Salir</a></li>
                    </ul>
                </li>
            </ul>
               
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark " id="sidenavAccordion">
                    <div class="sb-sidenav-menu bg-success">
                        <div class="nav navegador">
                            <a class="navbar-brand  me-4 mx-4" href="./home">  <img class="logo" src="../images/POWER_LOGO.png" alt="Logo"> </a>
                            <div class="sb-sidenav-menu-heading"><h4 >Opciones</h4> </div>
                            <a class="nav-link" href="./home">
                                <div class="sb-nav-link-icon"><i class="bi bi-house-door"></i></div>
                                <button type="button" class="btn btn-outline-light w-10" > Inicio</button>

                            </a>
                            <a class="nav-link">
                                
                                <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                                <button type="button" class="btn btn-outline-light w-10" id="hidden-admins"> Administradores</button>
                                
                            </a>
                            <a class="nav-link">
                                
                                <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                                <button type="button" class="btn btn-outline-light w-10" id="hidden-users"> Usuarios</button>
                                
                            </a>
                            <a class="nav-link">
                                <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                                <button type="button" class="btn btn-outline-light w-10" id="hidden-pacients"> Pacientes</button>

                            </a>
                            <a class="nav-link">
                                <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                                <button type="button" class="btn btn-outline-light w-10" id="hidden-psics"> Psicologos</button>

                            </a>
                                                       
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear"></i></div>
                                <button type="button" class="btn btn-outline-light w-10"> Configuracion</button>

                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="  ">Perfil</a>
                                    <a class="nav-link" href=" ">Contraseña</a>
                                </nav>
                            </div>
                           
                        </div>
                    </div>
                   
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-1">

                        <!-- Todo dentro de este div se debe modificar -->
                    

                        <div class="card-header bg-dark text-white">
                                
                            <h1><i class="fas fa-table me-1 text-white"></i>Tabla de Usuarios</h1> 
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <button type="button" class="btn btn-success w-10" data-bs-toggle="modal" data-bs-target="#modalUsuario" id="botonCrear" >
                                        <h6> Nuevo Usuario<i class="bi bi-plus-circle-fill "></i></h6>
                                    </button>
                                    <button type="button" class="btn btn-success w-10" data-bs-toggle="modal" data-bs-target="#modalUsuario" id="botonCrear" >
                                        <h6> Ver<i class="bi bi-plus-circle-fill "></i></h6>
                                    </button>
                                   
                                    <button type="button" class="btn btn-success w-10" data-bs-toggle="modal" data-bs-target="#modalUsuario" id="botonCrear" >
                                        <h6> Ver Usuarios<i class="bi bi-eye-fill "></i></h6>
                                    </button>                                          
                                   
                         
                                </div>
                
                            </div>
                            <!-- TABLA USUARIOS OCULTO -->
                            <div id="tabla-usuarios" style="display: none;">
                                <table id="datatablesSimple" class="dataTable">
                                
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th>Foto</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Telefono</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Fecha de ingreso</th>
                                        <th>Estado de usuario</th>                                                 
                                    </tr>
                                    <tbody id="users">
                                        <% allUsers.forEach(allUsers =>  { %>
                                            <tr>
                                            <td><%=allUsers.imageUsuario%></td>
                                            <td><%=allUsers.nombreUsuario%></td>                                           
                                            <td><%=allUsers.apellidoUsuario%></td>
                                            <td><%=allUsers.telefono%></td>
                                            <td><%=allUsers.fechaNacimiento.toLocaleDateString()%></td>
                                            <td><%=allUsers.correo%></td>
                                            <td><%=allUsers.roleUsuario%></td>
                                            <td><%=allUsers.fechaRegistroUsuario%></td>
                                            <td><%=allUsers.statusUsuario%></td>
                                            </tr>
                                       <% })%>
                                    </tbody>
                                </table>
                            </div>

                            <!-- TABLA PSICOLOGOS OCULTO -->
                            <div id="tabla-psics" style="display: none;">
                                <table id="datatablesSimple" class="dataTable">
                                
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th>Foto</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Telefono</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Fecha de ingreso</th>
                                        <th>Estado de usuario</th>                                                 
                                    </tr>
                                    <tbody id="users">
                                        <% psicUsers.forEach(psicUsers =>  { %>
                                            <tr>
                                            <td><%=psicUsers.imageUsuario%></td>
                                            <td><%=psicUsers.nombreUsuario%></td>                                           
                                            <td><%=psicUsers.apellidoUsuario%></td>
                                            <td><%=psicUsers.telefono%></td>
                                            <td><%=psicUsers.fechaNacimiento.toLocaleDateString()%></td>
                                            <td><%=psicUsers.correo%></td>
                                            <td><%=psicUsers.roleUsuario%></td>
                                            <td><%=psicUsers.fechaRegistroUsuario%></td>
                                            <td><%=psicUsers.statusUsuario%></td>
                                            </tr>
                                       <% })%>
                                    </tbody>
                                </table>
                            </div>

                            <!-- TABLA PACIENTES OCULTO -->
                            <div id="tabla-pacients" style="display: none;">
                                <table id="datatablesSimple" class="dataTable">
                                
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th>Foto</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Telefono</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Fecha de ingreso</th>
                                        <th>Estado de usuario</th>                                                 
                                    </tr>
                                    <tbody id="users">
                                        <% pacUsers.forEach(pacUsers =>  { %>
                                            <tr>
                                            <td><%=pacUsers.imageUsuario%></td>
                                            <td><%=pacUsers.nombreUsuario%></td>                                           
                                            <td><%=pacUsers.apellidoUsuario%></td>
                                            <td><%=pacUsers.telefono%></td>
                                            <td><%=pacUsers.fechaNacimiento.toLocaleDateString()%></td>
                                            <td><%=pacUsers.correo%></td>
                                            <td><%=pacUsers.roleUsuario%></td>
                                            <td><%=pacUsers.fechaRegistroUsuario%></td>
                                            <td><%=pacUsers.statusUsuario%></td>
                                            </tr>
                                       <% })%>
                                    </tbody>
                                </table>
                            </div>

                            <!-- TABLA ADMINISTRADORES OCULTO -->
                            <div id="tabla-admins" style="display: none;">
                                <table id="datatablesSimple" class="dataTable">
                                
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th>Foto</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Telefono</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Fecha de ingreso</th>
                                        <th>Estado de usuario</th>                                                 
                                    </tr>
                                    <tbody id="users">
                                        <% admUsers.forEach(admUsers =>  { %>
                                            <tr>
                                            <td><%=admUsers.imageUsuario%></td>
                                            <td><%=admUsers.nombreUsuario%></td>                                           
                                            <td><%=admUsers.apellidoUsuario%></td>
                                            <td><%=admUsers.telefono%></td>
                                            <td><%=admUsers.fechaNacimiento.toLocaleDateString()%></td>
                                            <td><%=admUsers.correo%></td>
                                            <td><%=admUsers.roleUsuario%></td>
                                            <td><%=admUsers.fechaRegistroUsuario%></td>
                                            <td><%=admUsers.statusUsuario%></td>
                                            </tr>
                                       <% })%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
              
                <footer class="bg-dark text-white text-center text-lg-start ">
                    <!-- Grid container -->
                    <div class="container p-4">
                      <!--Grid row-->
                      <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                          
                          <a href="./home" class="logo">  <img class="logo" src="../images/POWER_LOGO.png" alt="Logo"> </a>
                          <p>
                           
                          </p>
                        </div>
                        <!--Grid column-->
                  
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <div id="box2" class="box">
                                <h5>CONTACTO</h5>
                                <p>Telefono:  99-94-56-88-99</p>
                                <p>Email: PowerfulMind25@gmail.com</p>
                            </div>
                        </div>
                        <!--Grid column-->
                        
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <div  id="box1" class="box">
                                <h5>SIGUENOS</h5>
                               
                                <p>Carrillo Cruz Alondra Michelle</p>
                                <p>Poot Hoil Dalia Asucena </p>
                                <p>Puc Barrera Angel Eduardo </p>
                            </div>
                
                            
                        </div>
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <section class="mb-4">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                                  ><i class="fab fa-facebook-f"></i
                                ></a>
                          
                                <!-- Twitter -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                                  ><i class="fab fa-twitter"></i
                                ></a>
                          
                                <!-- Google -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                                  ><i class="fab fa-google"></i
                                ></a>
                          
                                <!-- Instagram -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                                  ><i class="fab fa-instagram"></i
                                ></a>
                          
                                <!-- Linkedin -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                                  ><i class="fab fa-linkedin-in"></i
                                ></a>
                          
                                
                              </section>
                           </div> 
                
                       
                
                        <!--Grid column-->
                      </div>
                      <!--Grid row-->
                    </div>
                    <!-- Grid container -->
                  
                  
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                      © 2022 Copyright
                    </div>
                    <!-- Copyright -->
                  </footer>

            </div>
        </div>


        <!-- Modal formulario de usuario-->
        <!-- CREAR NUEVO USUARIO POR ADMINISTRADORES -->
   
        <div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <input id="txtid" type="hidden" value="0" />
        
                        <form id="adminAddUser" class="row justify-content-center">

                            <div class="col-sm-6">
             
                              <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="txt" class="form-control" id="nombreusuario" placeholder="Escriba su nombre" name="nombre" autocomplete="on" required/>
                              </div>
      
                              <div class="mb-3">
                                    <label class="form-label">Apellidos</label>
                                    <input type="txt" class="form-control" id="apellidousuario" placeholder="Escriba su apellido" name="apellidos" required/>
                                </div>
      
                              <div class="mb-3">
                                <label for="form-label">Fecha de nacimiento</label>
                                <input class="form-control" id="fechaNacimiento" type="date" required/>
                              </div>                    
      
                              <div class="mb-3">
                                <label for="form-label">Correo Electronico</label>
                                <input class="form-control" id="correo" type="txt" placeholder="Escriba su correo" required/>
                              </div>
      
                              <div class="mb-3">
                                <label for="form-label">Contraseña</label>
                                <input class="form-control" id="contraseña" type="password" placeholder="************" required/>                                  
                              </div>
                              <div class="mb-3">
                                <label for="form-label">ROL</label>
                                <select class="form-control" id="roleUsuario" type="txt"  required >
                                  <option value="Administrador">Administrador</option>
                                  <option value="Psicologo">Psicologo</option>  
                                  <option value="Paciente">Paciente</option>  
      
                                </select>                               
                              </div>                               
      
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>

                                    <input type="submit" class="btn btn-primary" name="Registrarse" value="Registrarse" onclick="sendDataAdmin()" >
                           
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!-- Boton ver usuario -->

        <div class="modal fade" id="modalUsuariover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabelver">Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <input id="txtidver" type="hidden" value="0" />
        
                        <div class="row g-3">       
        
                            <div class="mb-1">
                                <label class="form-label">Nombre</label>
                                <input type="txt" class="form-control" id="nombreusuario" placeholder="" name="nombre" autocomplete="on" disabled/>
                            </div>

                          <div class="mb-1">
                                <label class="form-label">Apellidos</label>
                                <input type="txt" class="form-control" id="apellidousuario" placeholder="" name="apellidos" disabled/>
                            </div>

                          <div class="mb-1">
                            <label for="form-label">Curp</label>
                            <input class="form-control" id="curp" type="txt" placeholder="" disabled/>
                          </div>           

                          <div class="mb-1">
                            <label for="form-label">Correo Electronico</label>
                            <input class="form-control" id="correo" type="txt" placeholder="" disabled/>
                          </div>

                          <div class="mb-1">
                            <label for="form-label">Rol</label>
                            <input class="form-control" id="rol" type="txt" placeholder="" disabled/>
                              
                          </div> 

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-warning bg-warning" data-bs-toggle="modal" data-bs-target="#modalUsuarioedit"> 
                            <i class="bi bi-pencil-square" ></i> 
                            Confirmar
                        </button> 
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal editar -->

        <div class="modal fade" id="modalUsuarioedit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabeledit">Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="contenedor" class="row justify-content-center">
                    <div class="modal-body">
                        
                        <input id="txtidedit" type="hidden" value="0" />
                   
                        <div class="row g-2">      
        
                            <div class="col-sm-6">
                                <label for="txtnombres" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="txtnombresedit" autocomplete="off" value="Alondra MIchelle">
                            </div>
        
        
                            <div class="col-sm-6">
                                <label for="txtapellidos" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="txtapellidosedit" autocomplete="off" value="Carrillo Cruz">
                            </div>
        
        
                            <div class="col-sm-6">
                                <label for="txtcorreo" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="txtcorreoedit" autocomplete="off" value="AlondraMichelle@gmail.com">
                            </div>

                            <div class="col-sm-6">
                                <label for="txtcorreo" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="txtcontraseñaedit" autocomplete="off" value="123">
                            </div>
        
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
  

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="js/Cruds/Gets/getUsers.js"></script>
        <script src="../js/Cruds/Post/addUser.js"></script>
        <script src="../js/Cruds/Post/hiddens.js"></script>



    
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
        <script src="js/datatables-simple-demo.js"></script>

    </body>
</html>